#app--background {
    z-index: -1;
    position: fixed;
    top: 0px;
    opacity: 1;
    background-color: #181825;

    &>.app--background--row {
        display: flex;
    }
    
    // &>.app--background--row:nth-child(even) {

    // }
}

