@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --accent: #DC2603;
    --base: #050401;
    --white: #FFFAFF;
}

body {
    margin: 0px;
    overflow: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    background-color: var(--white);
}

color {
    color: var(--accent);
}

bold {
    font-weight: 900;
}