@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --accent: #DC2603;
    --base: #050401;
    --white: #FFFAFF;
}

body {
    margin: 0px;
    overflow: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    background-color: var(--white);
}

color {
    color: var(--accent);
}

bold {
    font-weight: 900;
}

dialog {
    overflow: hidden;
    background: none;
    border: none;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    
}

button {
    font-family: "Nunito", sans-serif;
    background-color: inherit;
    border: none;
}

dialog::backdrop {
    width: 1000px;
    height: 110%;
    background-color: rgba(5, 4, 1, 0.5);
    
}

dialog > div {
    background-color: var(--white);
    position: fixed;
    border-radius: 20px 20px 0px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    ul {
        display: flex;
        padding: 25px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;

        li > a {
            text-decoration: none;
            font-size: 35px;
            color: var(--base);
            font-weight: 500;

            &:active {
                text-decoration: none;
            }

            &:hover {
                color: var(--accent);
            }
        }

        li > button {
            text-decoration: none;
            font-size: 35px;
            color: var(--base);
            font-weight: 500;

            &:hover {
                color: var(--accent);
            }
        }
    }
}

nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:focus{
        outline: none;
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }

    img, button > img {
        height: clamp(35px,8vw,50px);
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        list-style: none;

        li > a {
            text-decoration: none;
            font-size: 35px;
            color: var(--base);
            font-weight: 500;
        
            &:focus {
                filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
            }
        }

        li > a:hover {
            color: var(--accent);
        }

        li > a:active {
            text-decoration: none;
        }
    }

    button {
        display: none;
        box-shadow: none;
        cursor: pointer;
    
        &:focus {
            filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
        }

        &:hover {
            filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
        }
    }
}

@media (max-width: 800px) {
    nav > ul {
        display: none;
    }

    nav > button {
        display: block;
    }
}