@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --accent: #DC2603;
    --base: #050401;
    --white: #FFFAFF;
}

body {
    margin: 0px;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    background-color: #FFFAFF;
}

color {
    color: var(--accent);
}

bold {
    font-weight: 900;
}

dialog {
    overflow: hidden;
    background: none;
    border: none;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

button {
    font-family: "Nunito", sans-serif;
}

dialog::backdrop {
    width: 1000px;
    height: 110%;
    background-color: rgba(5, 4, 1, 0.5);
    
}

dialog > div {
    background-color: var(--white);
    position: fixed;
    border-radius: 20px 20px 0px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    ul {
        display: flex;
        padding: 25px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;

        li > a {
            text-decoration: none;
            font-size: 35px;
            color: var(--base);
            font-weight: 500;
        }

        li > a:active {
            text-decoration: none;
        }

        li > a:hover {
            color: var(--accent);
        }

        li > button {
            text-decoration: none;
            font-size: 35px;
            color: var(--base);
            font-weight: 500;
            background-color: inherit;
            border: none;
        }

        li > button:hover {
            color: var(--accent);
        }

    }
}

nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:focus{
        outline: none;
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }
}

nav > a > img, nav > button > img {
    height: clamp(35px,8vw,50px);

    
}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 35px;
    outline: none;
    color: var(--base);
    font-weight: 500;

    &:focus {
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }
}

nav > ul > li > a:active {
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: var(--accent);
}

nav > button {
    outline: none;
    display: none;
    background-color: inherit;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &:focus {
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }
}

nav > button:hover {
    filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
}


#history-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: calc(100vw - (100vw - clamp(min(95vw, 400px), 100vh - 900px + 50vw, 100vh - 100px)));

    p {
        --text-fixed-size: 25vh;
        min-height: var(--text-fixed-size);
        max-height: var(--text-fixed-size);
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 5px;
        text-indent: 25px;
    }

    p::-webkit-scrollbar {
        width: 3px;
    }

    p::-webkit-scrollbar-track {
        background-color: inherit;
    }

    p::-webkit-scrollbar-thumb {
        background-color: var(--base);
        border-radius: 5px;
    }

    p:focus, h1:focus {
        outline: none;
    }

    h1 {
        font-weight: 900;
        display: block;
        font-size: clamp(18px, (2vw + 2vh)/2, 25px);
        text-align: center;
        padding-top: 25px;
    }
    
    * {
        margin: 0px
    }
}

#history-text-buttons {
    display: flex;
    gap: 25px;

    button {
        border: solid var(--base) 2px;
        border-radius: 8px;
        padding-top: 4px;
        height: 40px;
        width: 40px;
        background-color: inherit;
    
        img {
            margin: auto;
        }
    }

    button:focus {
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }
    
    button#navigate-left {
        padding-right: 8px;
    }
    
    button#navigate-right {
        padding-left: 8px;
    }

}

#portrait-image {
    height: clamp(45vh, 100vh - 900px + 50vw, 100vh - 250px);
    position: fixed;
    right:-50px;
    bottom: -20px;
    z-index: -1;
}

@media (max-width: 800px) {
    nav > ul {
        display: none;
    }

    nav > button {
        display: block;
    }
}

@media (max-width: 500px) {
    #history-text-buttons {
        padding-left: 15vw;
        align-self: flex-start;
    }
}


@media (orientation:portrait)  {
    #portrait-image {
        right: -35px;
        bottom: -30px;
        height: 45vh;
    }
}

