#history-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: calc(100vw - (100vw - clamp(min(95vw, 400px), 100vh - 900px + 50vw, 100vh - 100px)));

    * {
        margin: 0px
    }
    
    p {
        --text-fixed-size: 35vh;
        min-height: var(--text-fixed-size);
        max-height: var(--text-fixed-size);
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 7px;
        text-indent: 25px;
        text-align: left;
        direction: rtl;
    }

    p::-webkit-scrollbar {
        width: 3px;
    }

    p::-webkit-scrollbar-track {
        background-color: inherit;
        margin: 5px 0px;

    }

    p::-webkit-scrollbar-thumb {
        background-color: var(--base);
        border-radius: 5px;
    }

    p:focus, h1:focus {
        outline: none;
    }

    h1 {
        font-weight: 900;
        display: block;
        font-size: clamp(18px, (2vw + 2vh)/2, 25px);
        text-align: center;
        padding-top: 25px;
    }
}

#history-text-buttons {
    display: flex;
    gap: 25px;

    button {
        border: solid var(--base) 2px;
        border-radius: 8px;
        padding-top: 4px;
        height: 40px;
        width: 40px;
    
        img {
            margin: auto;
        }
    }

    button:focus {
        filter: invert(20%) sepia(66%) saturate(7500%) hue-rotate(17deg) brightness(96%) contrast(103%);
    }
    
    button#navigate-left {
        padding-right: 8px;
    }
    
    button#navigate-right {
        padding-left: 8px;
    }

}

#portrait-image {
    height: clamp(45vh, 100vh - 900px + 50vw, 100vh - 250px);
    position: fixed;
    right:-50px;
    bottom: -20px;
    z-index: -1;
}

@media (max-width: 500px) {
    #history-text-buttons {
        padding-left: 15vw;
        align-self: flex-start;
    }
}

@media (orientation:portrait)  {
    #portrait-image {
        right: -35px;
        bottom: -30px;
        height: 45vh;
    }
}

