/** SECTION: Defualts */
:root {
    --color-petco-blue: #00205B;
    --color-petco-light-blue: #B3D4FC;
    --color-petco-red: #FB4341;
    --color-petco-off-red: #ac302e;
    --color-petco-white: #EEE;
    --color-petco-off-white: #DDD;
    --color-petco-off-blue: #030241;
    
    --navbar-height: 70px;
}
@font-face {
    font-family: "ProductSans";
    src: url("./assets/Font/ProductSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/** SECTION: Styles */
body {
    margin: 0;
    font-family: "ProductSans";
}

/** Nav */
nav {
    background-color: var(--color-petco-blue);
    color: var(--color-petco-white);
}
#nav-content {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: space-between; 
    height: var(--navbar-height);
}
#nav-left {
    width: 50vw;
    display: flex;
    margin-left: 20px;
    justify-content: start;
    
}
#nav-left > img {
    height: 60px;
    width: auto;
    margin-top: 10px;
}
#nav-left > h1 {
    display: inline;
    font-size: 50px;
    margin: 10px 0px 0px 10px;
    align-self: center;
}
#nav-right {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
#nav-right > a {
    align-self: center;
    display: inline-block;
    /* margin: 20px 10px; */
}
#nav-right > button {
    align-self: center;
    cursor: pointer;
    margin-right: 4px;
}
.nav-down-btn {
    display: none;
}
.nav-action-btn {
    margin: 0px 0px 0px 30px;
    padding: 0px;
    background-color: var(--color-petco-blue);
    border: none;
}
.nav-action-btn > img {
    width: 30px;
    height: auto;
}
#search-banner {
    padding: 10px;
    display: flex;
    align-self: center;
    justify-content: space-between; 
}
#search-banner > input {
    height: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 15px;
    padding-left: 20px;
}
#search-banner > input:focus {
    border: 0px;
    font-size: 15px;
    outline:solid 0px;
    height: 30px;
}
#search-banner > div {
    margin-right: 20px;
}
#search-banner > div > button {
    background-color: var(--color-petco-blue);
    border: none;
    cursor: pointer;
    margin-top: 3px;
}
#search-banner > div > button > img {
    height: 25px;
    width: auto;
}

/** Header */
#sale-banner {
    display: flex;
    align-self: center;
    color: var(--color-petco-blue);
    background-color: var(--color-petco-light-blue);
    justify-content: space-between; 
}
#sale-banner > div {
    flex: 1;
    margin: 11px 0px 9px 20px;
    display: flex;
    justify-content: center;
}
#sale-banner > div > p {
    display: inline;
    margin: 0px 15px 0px 0px;
    font-weight: bold;
}
#sale-banner > div > a {
    font-weight: bold;
}
#sale-banner > div > a:visited {
    color: var(--color-petco-blue);
}
#close-sale-banner {
    height: 15px;
    width: auto;
    align-self: center;
    cursor: pointer;
    margin: 0px 5px 2px 0px;
    border: none;
    background-color: var(--color-petco-light-blue);
}
#close-sale-banner > img {
    height: 15px;
    width: auto;
}
#hero {
    display: flex;
}
#hero-left {
    display: flex;
    justify-content: center;
    background-color: var(--color-petco-blue);
    color: var(--color-petco-white);
    width: 50vw;
    background-image: url(./assets/BG-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-left > div {
    align-self: center;
    margin: -100px 0px 0px 0px;
}
#hero-left > div > h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow:
        -3px -3px 0 var(--color-petco-blue),  
        3px -3px 0 var(--color-petco-blue),
        -3px 3px 0 var(--color-petco-blue),
        3px 3px 0 var(--color-petco-blue);
    margin: 0px 0px 100px 0px
}
#hero-left > div > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow:
        -2px -2px 0 var(--color-petco-blue),  
        2px -2px 0 var(--color-petco-blue),
        -2px 2px 0 var(--color-petco-blue),
        2px 2px 0 var(--color-petco-blue);
}
#hero-left > div > a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-petco-white);
    color: var(--color-petco-blue);
    margin: 50px 10vw 0px 10vw;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}
#hero-left > div > a:visited {  
    text-decoration: none;
    color: var(--color-petco-blue);
}
#hero-right {
    background-color: var(--color-petco-red);
    width: 50vw;
    overflow: hidden;
}
#hero-right > img {
    width: 40vw;
    height: auto;
    margin: 0vh 0vw 10vh 2vw;
}

/** Action Sections */
#action-section-block {
    margin: 0px 5vw 0px 5vw;
}
#action-switch-buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 5vw 30px 5vw;
}
.action-switch-button {
    cursor: pointer;
    border: 0px;
    background-color: #fff;
    color: var(--color-petco-blue);
    font-size: 25px;
    font-weight: 900;
}
.action-button-focused {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.action-switch-button-text-outline {
    color: white;
    -webkit-text-stroke: 2px var(--color-petco-blue);
}
.action-switch-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* Products */
#product-button-container {
    display: flex;
    justify-content: center;
}
#product-list-buttons {
    padding: 0px;
}
.product-list-button {
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.product-list-button> button {
    background-color: white;
    border: 2px solid var(--color-petco-blue);
    padding: 5px 2vw 5px 2vw;
    border-radius: 50px;
    font-weight: bolder;
}
.product-list-button> button:hover {
    background-color: var(--color-petco-blue);
    color: var(--color-petco-white);
}
#product-list-container {
    display: flex;
    justify-content: center;
}
#product-list-link {
    text-align: center;
}
#product-list {
    overflow: auto;
    white-space: nowrap;
    padding: 0px 5px
}
#product-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 50px;
	background-color: var(--color-petco-white);
}
#product-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
	background-color: var(--color-petco-white);
}
#product-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: var(--color-petco-blue);
}
#product-list > li{
    display: inline-block;
    text-align: center;
    transition: all .1s ease-in-out;
    margin-bottom: 10px;
}
#product-list > li:hover {
    transform: scale(1.05);
}
#product-list > li > a {
    text-decoration: none;
}
#product-list > li > a > p {
    margin: 5px 0px;
    color: var(--color-petco-blue);
}
#product-shop-button {
    display: flex;
    justify-content: center;
}
#product-shop-button > a {
    text-decoration: none;
    background-color: var(--color-petco-blue);
    color: var(--color-petco-white);
    padding: 5px 5vw 5px 5vw;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
}
#product-shop-button > a:hover {
    color: var(--color-petco-off-white);
    background-color: var(--color-petco-off-blue);
    cursor: pointer;
}

/* Services */
#action-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 100px [col-start]);
    gap: 10px;
}
.service-card {
    color: var(--color-petco-white);
    background-color: var(--color-petco-blue);
}
.service-card > h3 {
    color: var(--color-petco-red);
    text-align: center;
    margin: 0px;
}
.service-card > h3 > img {
    height: 20px;
    width: 20px;
    margin: 0px 5px 0px -25px;
}
.service-card > p {
    text-align: center;
    font-weight: bold;
}
.service-card > a {
    display: block;
    color: var(--color-petco-red);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.service-card > a:hover {
    color: var(--color-petco-off-red);
}
#adoption-image {
    max-width: 98%;
    max-height: 100%;
    margin: 5px 0px;
    overflow: hidden;
    object-fit: cover;
    overflow: hidden;
}
#service-adoption-container {
    grid-row: 1 / span 6;
    color: var(--color-petco-white);
    background-color: var(--color-petco-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px 1fr 1fr; 
}
#service-adoption-container > div {
    grid-column: 1 / span 2;
}
#service-adoption-container > h3 {
    grid-column: 1 / span 2;
    align-self: center;
}
#service-adoption-container > p {
    grid-column: 1 / span 2;
    margin: 0px 10px;
}
#service-adoption-container > a {
    grid-column: 1 / span 2;
    align-self: center;
}
#adoption-image-container {
    display: flex;
    justify-content: center;
}
#service-health-container {
    grid-row: 1 / span 3;
}
#service-positive-container {
    grid-row: 4 / span 3;
}
#service-pharmacy-container {
    grid-row: 1 / span 2;
}
#service-vet-container {
    grid-row: 3 / span 2;
}
#service-grooming-container {
    grid-row: 5 / span 2;
}
.vertical-service-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;

}
.vertical-service-card > div {
    grid-column: 1 / span 2;
}
.vertical-service-card > h3 {
    grid-column: 1 / span 2;
    height: 20px;
    align-self: center;
}
.vertical-service-card > p {
    grid-column: 1 / span 2;
    margin: 0px 10px;
}
.vertical-service-card > a {
    grid-column: 1 / span 2;
    align-self: center;
}
.horizontal-service-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr;
}
.horizontal-service-card > h3 {
    grid-column: 1 / span 3;
    align-self: end;
}
.horizontal-service-card > p {
    grid-column: 1 / span 2;
    display: block;
    margin: 0px 10px;
    align-self: center;
}
.horizontal-service-card > a {
 align-self: center;
}

/* Memberships */
#action-memberships {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#action-memberships > div {
    color: var(--color-petco-white);
    background-color: var(--color-petco-blue);
}
#member-vital-care-container {
    grid-row: 1 / span 2;
}
.member-header {
    display: flex;
    justify-content: start;
    margin: 10px 0px 0px 10px;
}
.member-header > div {
    align-self: center;
}
.member-header > div > h3 {
    align-self: start;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
}
.member-header  > img {
    height: 60px;
    margin: 0px 5px 0px 0px;
}
.member-header > div > h4 {
    font-size: 10px;
    margin: 0px;
}
#vital-care-subheader {
    font-size: 25px;
    margin: 0px 0px 0px 10px;
}
#vital-care-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#vital-care-content  > h5 {
    font-weight: normal;
    grid-column: 1 / span 2;
    font-size: 20px;
    margin: 20px 10px 20px 10px;
}
#vital-care-content  > div {
    margin: 0px 0px 40px 10px ;
    justify-self: center;
    align-self: end;
}
#vital-care-content  > div > a {
    display: block;
    align-self: end;
    margin: 0px 0px 0px 10px;
    color: var(--color-petco-white);
    font-size: 25px;
    font-weight: bold;
}
#vital-care-content  > div > a:hover {
    color: var(--color-petco-off-white);
}
#vital-care-content > div > p {
    margin: 0px;
    font-size: 10px;
}
#vital-care-content > img {
    width: 200px;
    margin: 0px 0px 10px 0px;
    float: right;
    justify-self: end;
    align-self: end;
}
#member-rewards-container {
    grid-column: 2 / span 2;
}
#member-rewards-container > h3 {
    font-size: 25px;
    margin: 20px 0px 0px 20px;
    font-weight: normal;
}
#member-rewards-container > h3 > span {
    font-weight: bolder;
}
#member-rewards-container > h4 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
}
#member-rewards-container > p {
    margin: 30px 40px 0px 40px;
}
#member-rewards-container > a {
    display: block;
    color: var(--color-petco-white);
    font-weight: bold;
    margin: 30px 0px 30px 20px;
    text-decoration: none;
}
#member-rewards-container > a:hover {
    color: var(--color-petco-off-white);
}
.member-bottom-card {
    display: grid;
    grid-template-columns: 1fr;
}
.member-bottom-card > p {
    margin: 10px 0px 20px 30px;
}
.member-bottom-card > a {
    color: var(--color-petco-white);
    font-weight: bold;
    text-decoration: none;
    margin: 0px 0px 20px 20px;
    display: block;
    align-self: end;
}
.member-bottom-card > a:hover {
    color: var(--color-petco-off-white);
}

/* Need Section */
#what-needed-section {
    margin: 100px 15vw;
}
#what-needed-section > h2{
    text-align: center;
}
#what-needed-container {
    display: flex;
}
.what-needed-column {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 20px 10px;
}
.what-needed-column > img {
    height: 100px;
    width: 100px;
    margin: 0px 10px 0px 0px;
    align-self: center;
}
.what-needed-column  > div > h3 {
    text-align: center;
}
.what-needed-column > div > p {
    text-align: center;
}
.what-needed-column > div > a {
    display: block;
    text-align: center;
    color: var(--color-petco-blue);
    font-weight: bold;
    text-decoration: none;
}
.what-needed-column > div > a:hover {
    color: var(--color-petco-off-blue);
}


/* Promo */
#promo-banner-container {
    color: var(--color-petco-white);
    background-color: var(--color-petco-blue);
}
#mobile-promo-header {
    display: none;
}
#promo-banner {
    display: flex;
    justify-content: space-between;
}
#promo-banner > img {
    height: 100px;
    align-self: end;
}
.promo-header {
    text-align: center;
}
.promo-header > h2 {
    font-size: 30px;
    margin: 15px 0px 0px 0px;
}
.promo-header > p {
    margin: 5px 0px 15px 0px;

}
#banner-buttons {
    margin: 0px 20px 0px 0px;
}
#upper-banner-buttons {
    display: none;
    margin: 30px 10px 0px 10px;
}
#promo-shop-now-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-petco-blue);
    background-color: var(--color-petco-white);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin: 20px 5px 5px 5px;
}
#promo-terms-link {
    color: var(--color-petco-white);
    text-align: center;
    display: block;
}
/* Popular Brands */
#popular-brands-container {
    margin: 50px 0px 50px 0px;
}
#popular-brands-container > h2 {
    text-align: center;
    margin: 0px;
}
#popular-brands-container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    list-style: none;
    margin: 20px 10vw;
}
#popular-brands-container > ul > li {
    justify-self: center;
    align-self: center;
    transition: all .1s ease-in-out;
}
#popular-brands-container > ul > li:hover {
    transform: scale(1.1);
}
#popular-brands-container > ul > li > img {
    width: 100px;
}


/* Footer */
#footer-logo {
    display: flex;
    justify-content: end;
}
#footer-logo > img{
    height: 75px;
    margin: 0px 35px -5px 0px;
}
#footer-container {
    color: var(--color-petco-white);
    background-color: var(--color-petco-blue);
}
.link-list-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}
.footer-link {
    text-decoration: none;
    color: var(--color-petco-white);
}
.footer-link:active {
    color: var(--color-petco-white);
    text-decoration: none;
}
.footer-link:hover {
    color: var(--color-petco-off-white);
    font-size: 17px;
}
#quick-link-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 5vw 20px 5vw;
}
.quick-link-list {
    list-style: none;
    padding: 0px;
}
.quick-link-list > li {
    text-align: center;
}
#lined-list-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 0px 50px;
    border-top: 2px solid var(--color-petco-white);
    border-bottom: 2px solid var(--color-petco-white);
}
#lined-list-container > ul {
    padding: 0px;
}
#lined-list-container > ul > li{
    display: inline-block;
    margin: 5px 8px;
}
#lined-list-container > ul > li > a > img {
    height: 25px;
} 
#lined-list-container > ul > li > a > img:hover {
    height: 26px;
}
#lower-footer-list-container {
    margin: 0px 0px 40px 0px;
    display: flex;
    justify-content: center;
}
#lower-footer-list-container > ul > li {
    display: inline-block;
    margin: 0px 5px;
}
#copyright {
    margin: 0px;
    padding: 0px 0px 10px 10px;
}

/** SECTION:  Media Queries */
/* Small Desktop */
@media (min-width: 1000px) and (max-width: 1300px) {
    /** Hero */
    #hero-left > div {
        margin: -50px 0px 0px 0px;
    }
    #hero-left > div > h1 {
        margin: 0px 0px 20px 0px;
    }

    /** Action Section */
    #action-section-block {
        margin: 0px;
    }

    /** Promo Banner */
    #desktop-promo-header {
        display: none;
    }
    #mobile-promo-header {
        display: block;
    }
    #promo-banner {
        justify-content: center;
    }
}
/* Tablet */
@media (min-width: 520px) and (max-width: 1000px) {
    /** Hero */
    #hero-left > div {
        margin: -50px 0px 0px 0px;
    }
    #hero-left > div > h1 {
        font-size: 40px;
        margin: 0px;
    }
    #hero-left > div > a {
        margin: 25px 10vw 0px 10vw;
    }
    #hero-right > img {
        width: 70vw;
        height: auto;
        margin: 0vh 0vw 5vh 2vw;
    }

    /** Action Block */
    #action-section-block {
        margin: 0px;
    }
    #action-switch-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .action-switch-button {
        margin: 0px 15px;
    }

    /** Product */
    #product-list-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /** Services */
    #adoption-image {
        width: 75%
    }
    #action-services {    
        grid-template-columns: 1fr;
        gap: 5px;
    }
    #service-adoption-container {
        grid-row: span 6;
    }
    #service-health-container {
        grid-row: span 3;
    }
    #service-positive-container {
        grid-row: span 3;
    }
    #service-pharmacy-container {
        grid-row: span 2;
    }
    #service-vet-container {
        grid-row: span 2;
    }
    #service-grooming-container {
        grid-row: span 2;
    }
    .horizontal-service-card {
        padding: 10px 0px;
        justify-content: center;
    }
    .horizontal-service-card > h3 {
        grid-column: 1 / span 3;
        align-self: center;
    }
    .horizontal-service-card > p {
        grid-column: 1 / span 3;
        display: block;
        margin: 0px 10px;
        align-self: center;
    }
    .horizontal-service-card > a {
        grid-column: 1 / span 3;
        align-self: center;
        margin: 20px;
    }

    /** Membership */
    #action-memberships {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    #member-vital-care-container {
        grid-row: span 2;
    }
    #member-rewards-container {
        grid-column: span 1;
    }
    #vital-care-content  > div {
        justify-self: center;
        align-self: center;
    }
    .member-bottom-card > a {
        justify-self: center;
    }
    .member-header {
        justify-content: center;
        margin-bottom: 20px;
    }
    #member-rewards-container > h3 {
        text-align: center;
    }
    #member-rewards-container > h4 {
        text-align: center;
    }
    #member-rewards-container > a {
        text-align: center;
    }
    

    /** What's Needed */
    #what-needed-section {  
        margin: 100px 0px;
    }
    #what-needed-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    /** Promo Banner */
    #promo-banner {
        justify-content: center;
    }
    #desktop-promo-header {
        display: none;
    }
    #mobile-promo-header {
        display: block;
    }
}
/* Mobile */
@media (max-width: 520px) {
    /** Nav */
    #nav-left > h1 {
        display: none;
    } 
    
    /** Hero */
    #hero-left > div {
        margin: 0px;
    }
    #hero-left > div > h1 {
        font-size: 30px;
        margin: 0px;
    }
    #hero-left > div > a {
        margin: 20px 5vw 5px 5vw;
    }
    #hero-right > img {
        height: 100vw;
        width: auto;
        margin: 0vh 0vw 5vh 2vw;
    }

    /** Action Block */
    #action-section-block {
        margin: 0px;
    }
    #action-switch-buttons {
        margin: 30px 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .action-switch-button {
        font-size: 20px;
    }

    /** Product */
    #product-list-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-list-button {
        margin: 0px 10px 5px 0px;
    }

    /** Services */
    #action-services {    
        grid-template-columns: 1fr;
        gap: 5px;
    }
    #service-adoption-container {
        grid-row: span 6;
    }
    #service-health-container {
        grid-row: span 3;
    }
    #service-positive-container {
        grid-row: span 3;
    }
    #service-pharmacy-container {
        grid-row: span 2;
    }
    #service-vet-container {
        grid-row: span 2;
    }
    #service-grooming-container {
        grid-row: span 2;
    }
    .horizontal-service-card {
        padding: 10px 0px;
        justify-content: center;
    }
    .horizontal-service-card > h3 {
        grid-column: 1 / span 3;
        align-self: center;
    }
    .horizontal-service-card > p {
        grid-column: 1 / span 3;
        display: block;
        margin: 0px 10px;
        align-self: center;
    }
    .horizontal-service-card > a {
        grid-column: 1 / span 3;
        align-self: center;
        margin: 20px;
    }

    /** Membership */
    #action-memberships {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    #member-vital-care-container {
        grid-row: span 2;
    }
    #member-rewards-container {
        grid-column: span 1;
    }
    #vital-care-content  > div {
        justify-self: center;
        align-self: center;
    }
    .member-bottom-card > a {
        justify-self: center;
    }
    .member-header {
        margin-bottom: 20px;
        justify-content: center;
    }
    #member-rewards-container > h3 {
        text-align: center;
    }
    #member-rewards-container > h4 {
        text-align: center;
    }
    #member-rewards-container > a {
        text-align: center;
    }

    /** What's Needed */
    #what-needed-section {  
        margin: 100px 0px;
    }
    #what-needed-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    /** Promo Banner */
    #promo-banner > img {
        margin: 30px 0px 0px 0px;
        width: 100%;
        height: auto;
    }
    #banner-buttons {
        display: none;
    }
    #upper-banner-buttons {
        display: block;
    }
    #desktop-promo-header {
        display: none;
    }
    #mobile-promo-header {
        display: block;
    }
}
@media (max-width: 380px) {
    #nav-content {
        flex-wrap: nowrap;
    }
    #nav-left {
        margin: 0px 0px 0px 1px;
    }
    #nav-left > img {
        height: 40px;
        width: auto;
        align-self: end;
    }
    #nav-right > * > img {
        height: 20px;
        width: auto;
    }
    #hero-right > img {
        height: 100vw;
        width: auto;
        margin: 0vh 0vw 5vh 2vw;
    }
    #popular-brands-container > ul {
        grid-template-columns: 1fr 1fr;
        
    }
    #vital-care-content  > div > a {
        margin: 0px 0px 0px 10px;
    }
    #vital-care-content > div > p {
        margin: 0px 0px 0px 10px;
        font-size: 10px;
    }
    
}