@use "./device.scss" as device;

// Flex
.flex {display: flex}
.flex.columns {flex-direction: column}
.flex.space-between {justify-content: space-between}
.flex.v-centered {align-items: center;}
.flex.centered {justify-content: center;}
.flex>.full-width {flex:1 1 100%;}

@for $value from 1 through 25 {
    .flex.gap-#{$value}px {
       gap: #{$value}px;
    }
}

// Grid
.grid {display: grid}
.grid.centered {justify-content: center;}

@for $value from 1 through 25 {
    .grid.gap-#{$value}px {
       gap: #{$value}px;
    }
}

// Padding and Margin
@for $value from 1 through 25 {
    .pad-#{$value}px {padding: #{$value}px;}
    .pad-left-#{$value}px {padding-left: #{$value}px;}
    .pad-right-#{$value}px {padding-right: #{$value}px;}
    .pad-top-#{$value}px {padding-top: #{$value}px;}
    .pad-bottom-#{$value}px {padding-bottom: #{$value}px;}
    .pad-hori-#{$value}px {padding-right: #{$value}px; padding-left: #{$value}px;}
    .pad-vert-#{$value}px {padding-top: #{$value}px; padding-bottom: #{$value}px;}

    .mar-#{$value}px {margin: #{$value}px;}
    .mar-left-#{$value}px {margin-left: #{$value}px;}
    .mar-right-#{$value}px {margin-right: #{$value}px;}
    .mar-vert-#{$value}px {margin-top: #{$value}px; margin-bottom: #{$value}px;}
    .mar-top-#{$value}px {margin-top: #{$value}px;}
    .mar-bottom-#{$value}px {margin-bottom: #{$value}px;}
    .mar-hori-#{$value}px {margin-right: #{$value}px; margin-left: #{$value}px;}
}

// Lists
ul.no-decor {list-style: none}
ul.rows {display:inline-block}

// Devices
@include device.not-on-mobile {
    [show-on~="mobile"] {display: none}
}
@include device.not-on-tablet {
    [show-on~="tablet"] {display: none}
}
@include device.not-on-desktop {
    [show-on~="desktop"] {display: none}
}

// text
.text-no-underline {text-decoration: none}

.scrollbar {
    overflow-y: auto
}

.scrollbar.thin::after {
    content: "";
    display: block;
    position: absolute;
    right: -2rem;
    width: 2rem;
    height: 1px;
}

.scrollbar.thin::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.scrollbar.thin::-webkit-scrollbar-track {
    background: #445;
    border-radius: 50px;
    border: #445 solid;
}

/* Handle */
.scrollbar.thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    transition: all 0.4s;
    margin: 10px;

    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

/* Handle on hover */
.scrollbar.thin::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 16px;
}