.orange { background-color: #fab387;}
.yellow { background-color: #f9e2af;}
.green { background-color: #a6e3a1;}
.cyan { background-color: #74c7ec;}
.blue { background-color: #89b4fa;}
.purple { background-color: #cba6f7;}

.font-orange { color: #fab387;}
.font-yellow { color: #f9e2af;}
.font-green { color: #a6e3a1;}
.font-cyan { color: #74c7ec;}
.font-blue { color: #89b4fa;}
.font-purple { color: #cba6f7;}


.color-subtext { background-color: #a6adc8;}