#root {
    background-color: #181825;background-image: url('./assets/box-dark.svg');
    background-repeat: repeat;
    background-size: 4vw;
    min-height: 100dvh;
}

#app--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(#31324475 0%, #18182525 35%, #18182590 50%, #11111b 75%);
    // background-color: #181825;
}

header {
    height: 50px;
}

footer {
    display: flex;
    justify-content: end;
    padding: 20px;
    color: #cdd6f4;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;

    &::before {
        content: " ";
    }
}