<dialog>
    <div>
        <ul>
            <li><a href="/history">History</a></li>
            <li><a href="./assets/Resume.pdf" download>Resume</a></li>
            <li><button id="close-modal">Close</button></li>
        </ul>
    </div>
</dialog>
<nav>
    <img src="./assets/Group 17.svg" alt="DR Logo for Daniel Rustrum">
    <ul>
        <li><a href="/history">History</a></li>
        <li><a href="./assets/Resume.pdf" download>Resume</a></li>
    </ul>
    <button>
        <img src="./assets/Icon metro-stack.svg" alt="Stack Button">
    </button>
</nav>

